body {
    color: #7982ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #00000096;
    font-size: 12pt;
}
h1, label {font-style: italic;
}
button {
    border: solid rgb(0, 174, 255);
}
* label+ input {
    border: 5px ridge rgb(182, 0, 0) ;
}
margin {
    margin: 10px;
}